* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Uni Neue", sans-serif;
}

header {
  background: #4f235c;
  height: 120px;
  position: relative;
  color: white;
}

header img {
  position: absolute;
  top: 17px;
  left: 65px;
  width: 151px;
  height: 82px;
}

header .clube {
  position: absolute;
  left: 260px;
  top: 30px;
}

header .search {
  border-radius: 20px;
  width: 448px;
  height: 40px;
  background: #fff;
  position: absolute;
  left: 520px;
  top: 28px;
}

header .search input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
}

header .search img {
  position: absolute;
  left: 405px;
  top: 0px;
  border-radius: 20px;
  background: #00b1eb;
  width: 45px;
  height: 40px;
}

header ul {
  position: absolute;
  left: 220px;
  top: 80px;
  font-weight: bold;
}

header ul li {
  display: inline-block;
  list-style: none;
}

header a {
  color: inherit;
  text-decoration: none;
}

header ul li:hover {
  color: #d3d800;
  text-decoration: underline;
  transition: 0.5s all;
}

header ul li:not(:first-child) {
  margin-left: 135px;
}

header .log_btn {
  position: absolute;
  right: 275px;
  top: 35px;
  font-weight: bold;
}

main {
  position: relative;
}

main .banner {
  width: 100%;
  height: 270px;
}

main .promos {
  margin-top: 20px;
}

main .promos li div h3 {
  color: red;
}

main .promos li {
  display: inline-block;
  list-style: none;
  margin-left: 95px;
}

main .promos li img {
  margin-right: 15px;
  float: left;
  width: 40px;
  height: 40px;
}

main .promos li div {
  display: inline;
  float: right;
}

main .categorias {
  position: relative;
  margin-top: 70px;
  margin-left: 30px;
  text-align: center;
}

main .categorias li {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

main .categorias li img {
  width: 185.78px;
  height: 111.61px;
}

/* Footer */

footer {
  position: relative;
}

footer .cadastro {
  position: relative;
  border-radius: 30px 10px 10px 10px;
  width: 96%;
  background: #4f235c;
  padding: 15px 37px;
  max-height: 80px;
  margin: 400px 20px 70px;
}

footer .cadastro h1,
.cadastro p {
  display: inline-block;
  color: #d3d800;
}

footer .cadastro input,
div input {
  background: #fff;
  border-radius: 30px;
  width: 330px;
  height: 40px;
}

footer .cadastro .input_nome {
  border: none;
  outline: none;
  position: absolute;
  padding: 0 10px;
  left: 500px;
}

footer .cadastro .input_email {
  border: none;
  outline: none;
  position: absolute;
  padding: 0 10px;
  top: 15px;
  left: 840px;
}

footer .cadastro .btn_send {
  position: absolute;
  top: 15px;
  left: 1140px;
  width: 105.65px;
  height: 40px;
  background: #00b1eb;
  border-radius: 30px;
  border: 1px solid #00b1eb;
  color: white;
  font-size: 20px;
}

footer .listas {
  position: relative;
  width: 80%;
  padding-left: 15%;
}

footer .listas ul {
  list-style: none;
}

footer .listas ul li {
  margin-top: 10px;
}

footer .listas div {
  position: absolute;
  display: inline-block;
  text-align: center;
}

footer .listas div h3 {
  margin-left: 30px;
}

footer .listas .lista1 {
  text-align: center;
  left: 150px;
}

footer .listas .lista2 {
  left: 450px;
}

footer .listas .lista3 {
  left: 775px;
}

footer .social {
  position: absolute;
  left: 37%;
  top: 450px;
  list-style: none;
}

footer .social li {
  display: inline-block;
  margin-left: 30px;
  width: 32px;
  height: 26px;
}

footer .cartoes {
  position: absolute;
  top: 550px;
  left: 350px;
  width: 800px;
}
